<div class="container marketing">
	<hr class="featurette-divider">
	<div class="row featurette">
		<div class="col-md-5">
			<img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="http://res.cloudinary.com/estufas/image/upload/c_scale,w_498/v1457043016/IMG_1305-bw_nk6ewo.jpg" data-holder-rendered="true">
		</div>
		<div class="col-md-7">
			<p class="lead">Charismatic young developer looking for an opportunity to learn, excited by the idea of creating and using software that is designed for intuitive interaction. Berkley born, raised in Mazatlan Si. Mexico, my teen and young adult years in southern California. I've spent the last year learning Javascript and Ruby after a friend suggested I try out a code academy course. After learning on my own for four to six months I wanted to accelerate my learning, and took a month long intro to HTML5, Javascript, and CSS3 course with Code Fellows. Then I signed up for General Assemblies immersive web development program. On a personal level I love being challenged, put in social circles that push me to learn and contribute. I'm excited by the idea of being challenged and pushed to learn by an environment that values perseverance and willingness.</p>
		</div>
	</div>
	<hr class="featurette-divider">
</div>
