

<!-- <div id="board" style="width: 300px"></div>
 -->
<nav class="navbar navbar-default" id="my-navigation" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
      <ul class="nav navbar-nav">
        <li><a class="navbar-brand" href="#s1">Stuart Hiller</a></li>
        <li><a class="navbar-brand" href="#s2">Projects</a></li>
        <!-- <li><a class="navbar-brand" href="#s3">Trump vs Putin</a></li> -->
      </ul>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a class="navbar-brand" href="http://res.cloudinary.com/estufas/image/upload/v1497377215/resume_zzjhkq.pdf" target="_blank">Resume</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
 <!-- <menu><a href="#s1">Section 1</a> <a href="#s2">Section 2</a> <a href="#s3">Section 3</a></menu> -->
<section>
  <div id="s1">
    <div class="corps">
    	<div class="container marketing">
    		<div class="row featurette">
						<div class="col-md-5">
							<img class="featurette-image img-responsive center-block" src="http://res.cloudinary.com/estufas/image/upload/v1464733406/Screen_Shot_2016-05-31_at_3.23.05_PM_mc6rei.png">
						</div>
						<div class="col-md-7">
							<p class="lead">Charismatic young developer looking for an opportunity to learn, excited by the idea of creating and using software that is designed for intuitive interaction. Berkley born, raised in Mazatlan Si. Mexico, my teen and young adult years in southern California. I've spent the last year learning Javascript and Ruby after a friend suggested I try out a code academy course. After learning on my own for four to six months I wanted to accelerate my learning, and took a month long intro to HTML5, Javascript, and CSS3 course with Code Fellows. Then I signed up for General Assemblies immersive web development program. On a personal level I love being challenged, put in social circles that push me to learn and contribute. I'm excited by the idea of being challenged and pushed to learn by an environment that values perseverance and willingness.</p>
							<div class="col-md-10 col-md-offset-1">
							<h4 class="featurette-heading">Drop me a line.</h4>
								<div class='messageDiv'>
	        				<form ng-submit='send()'>
					            <textarea id='emailMessage' type='text' placeholder='Enter message here!' ng-model='message.message'></textarea><br>
					            <input type='email' placeholder='From' ng-model='message.from'>
					            <input type='submit' class='btn btn-default'>
					        </form>
					        <b>Email: </b> hiller.stuart@gmail.com
	    					</div>
							</div>
						</div>
				</div>

					</div>
					</div>
			</div>
		</div>
  </div>
  <div id="s2">
  	<div class="corps">
    	<div class="container marketing">
				<hr class="featurette-divider">
					<div class="row featurette">
						<div class="col-md-7">
							<a href="https://stu-week-6.herokuapp.com/" target="_blank"><h2 class="featurette-heading">Find Me With Lee</h2></a>
								<p class="lead">An application that stores article links and titles in a PostgreSQL database. Scrapes pages for information, has basic search functionality, Bycript secured user sign up and log in, allowing users to save favorite articles and post/edit/delete comments about them. Server built using Node.js and Express, with Javacsript, JQuery and BootStrap for the front end.</p>
						</div>
						<div class="col-md-5">
							<a href="https://stu-week-6.herokuapp.com/" target="_blank"><img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="http://res.cloudinary.com/estufas/image/upload/c_scale,w_400/v1457042834/Screen_Shot_2016-03-03_at_1.34.48_PM_rhylnp.png" data-holder-rendered="true"></a>
						</div>
					</div>
					<hr class="featurette-divider">
					<div class="row featurette">
						<div class="col-md-5">
								<a href="http://parse-lexicon.herokuapp.com/" target="_blank"><img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="http://res.cloudinary.com/estufas/image/upload/c_scale,w_500/v1457042824/Screen_Shot_2016-03-03_at_1.35.41_PM_opsfrl.png" data-holder-rendered="true"></a>
						</div>
						<div class="col-md-7">
							<a href="http://parse-lexicon.herokuapp.com/" target="_blank"><h2 class="featurette-heading">Parse</h2></a>
								<p class="lead">Parse is a tool to help language learners read in another language and find important vocabulary to study. The idea is backed by the Pareto Principle: 20% of the words in a text give 80% of it's understanding. Built with Ruby on Rails, javaScript and JQuery front end functionality, and Foundation for the front end. This was a group project that included four people, two people working on the front end for styling leaving myself and another person to code the backend.</p>
						</div>
					</div>
				<hr class="featurette-divider">
				<div class="row featurette">
					<div class="col-md-7">
						<a href="http://cheessmaster.herokuapp.com/" target="_blank"><h2 class"featurette-header">Chess Master</h2></a>
						<p class="lead">Chess application allowing users to play live games. MEAN stack, using the Socket.IO plug in for chat and live play, and user secured log in with JSON web tokens. While there wasn't anything original or innovative about this project it provided us with a useful learning opportunity, in dealing with live socket connections and the way information is passed between the server and client. This was a two person project with shared front and back end responsibilities.</p>
					</div>
					<div class="col-md-5">
						<a href="http://cheessmaster.herokuapp.com/" target="_blank"><img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="http://res.cloudinary.com/estufas/image/upload/c_scale,w_500/v1457042827/Screen_Shot_2016-03-03_at_1.38.22_PM_m4iat3.png" data-holder-rendered="true"></a>
					</div>
				</div>
				<hr class="featurette-divider">
				<div class="row featurette">
					<div class="col-md-5">
						<a href="https://github.com/estufas/spell-checker/blob/master/app/controllers/main_controller.rb" target="_blank"><img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="http://res.cloudinary.com/estufas/image/upload/c_scale,w_500/v1469487151/Screen_Shot_2016-07-25_at_3.50.56_PM_rhpta6.png" data-holder-rendered="true"></a>
					</div>
					<div class="col-md-7">
						<a href="https://github.com/estufas/spell-checker/blob/master/app/controllers/main_controller.rb" target="_blank"><h2 class"featurette-header">Ruby Spell Checker</h2></a>
						<p class="lead">Spell checker built using Ruby and Ruby on Rails, without the use of a spell checker plug in or dictionary API. The application takes user input, uses a binary search to find a match, if not match is found words with the shortest edit distance are returned to the user as suggested corrections.</p>
					</div>
          <cl-image public-id="resume_zzjhkq.pdf" ></cl-image>
				</div>
			</div>
  	</div>
  </div>
</section>
