<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
      <ul class="nav navbar-nav">
        <li><a class="navbar-brand" href="/#/">Stuart Hiller</a></li>
        <li><a class="navbar-brand" href="/#/projects">Projects</a></li> 
        <li><a class="navbar-brand" href="/#/contact">Contact</a></li>
      </ul>  
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a class="navbar-brand" href="http://res.cloudinary.com/estufas/image/upload/v1458684169/stuart_hiller_resume_vqy9kl.pdf" target="_blank">Resume</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
