<h1>hello projects</h1>
<a href="https://stu-week-6.herokuapp.com/"><img src="http://res.cloudinary.com/estufas/image/upload/c_scale,w_400/v1457042834/Screen_Shot_2016-03-03_at_1.34.48_PM_rhylnp.png"></a>
<a href="https://stu-week-6.herokuapp.com/">Find Me With Lee</a>
</br>
<a href="http://cheessmaster.herokuapp.com/"><div id="board" style="width: 300px"></div></a>
<a href="http://cheessmaster.herokuapp.com/">Chess</a>
</br>
<a href="http://parse-lexicon.herokuapp.com/"><img src="http://res.cloudinary.com/estufas/image/upload/c_scale,w_400/v1457042824/Screen_Shot_2016-03-03_at_1.35.41_PM_opsfrl.png"></a>
<a href="http://parse-lexicon.herokuapp.com/">Parse</a>