/*html{
	height: 100%;
	width: 100%;
	overflow-x: hidden; 
}*/
body {
	background-color: white;
	height: 100%;
	width: 100%;
}
.main {
	/*position: absolute;*/
/*	height: 100%;
	width: 100%;*/
}
.homePage {
	/*position: relative;*/
	margin: 0 auto;
	text-align: center;
	/*width: 100%;*/
	/*height: 600px;*/
	/*background-size: contain;*/
	/*background-repeat: no-repeat !important;*/
	/*background-position: center;*/
}
.nav .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.nav .navbar-nav .navbar-brand {
	text-align: center;
}
#my-navigation {
  z-index: 1000;
  position: fixed;
  width: 100%;  
}
#scrollArea {
    height: 100%;
    overflow: auto;
  }
 
#bottom {
    display: block;
}
menu {
  margin: 0;
  padding: 5px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #333333;
  z-index: 1000;
  box-shadow: #000 0 2px 5px;
}
section {
  width: 310%;
  margin-top: 0px;
  margin: 0;
  padding: 0;
}

#s1, #s2, #s3 {
  position: relative;
  width: 33%;
  margin: 0;
  margin-right: -5px;
  padding: 0;
  padding-top: 30px;
  display: inline-block;
}
#s1, #s2 {
  top: -300px;
}

.corps {
  width: 75%;
  margin: auto;
}

